<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="QualityHR Suite">

    <listeners>

        <listener class-name="com.qualityhr.listeners.TestListener"/>

    </listeners>

    <test name="HR Tests">

        <classes>

            <class name="com.qualityhr.tests.LoginTest"/>
            <class name="com.qualityhr.tests.EmployeeTest"/>
            <class name="com.qualityhr.tests.LeaveTest"/>
            <class name="com.qualityhr.tests.AdminTest"/>
            <class name="com.qualityhr.tests.ValidationTest"/>

        </classes>

    </test>

</suite>